@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Georama:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Liu+Jian+Mao+Cao&family=Playwrite+BE+WAL:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Georama:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&family=Liu+Jian+Mao+Cao&family=Playwrite+BE+WAL:wght@100..400&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

.button_pink {
  width: 96px;
  height: 26px;
  background-color: #ffd8d4;
  border-radius: 20px;
  font-family: "Lexend", sans-serif;
  font-size: 14px;
  margin: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button_borrow {
  width: 219px;
  height: 40px;
  background-color: #f0f4ff;
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card {
  width: 280px;
  height: 370px;
  text-align: center;
  align-self: center;
  font-size: 1rem;
  font-family: "Lexend", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
  font-family: "Lexend";
  display: flex;
  width: 100%;
  height: 167px;
  background: linear-gradient(to bottom, #cbb5b5 0%, #9f8585 100%);
}

.menu {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

figure {
  height: 100%;
}
figure img {
  height: 80%;
}

.navbar {
  display: flex;
  margin: 0 auto;
}
.navbar li {
  font-size: 1.5rem;
}
.navbar li a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #575d88;
}
.navbar li a:hover {
  border-radius: 100px;
  border: 3px solid #575d88;
  color: #575d88;
}
.navbar li a:active {
  color: #575d88;
  border-radius: 100px;
  border: 3px solid #e1e4ff;
  background-color: #e1e4ff;
}

header {
  width: 100%;
  height: 167px;
}

html, body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to top, #fcddec 0%, #ffe6c7 29.51%, #e8ffc4 50.77%, #fcddec 75.27%, #fffafb 97.01%);
  background-repeat: no-repeat;
  background-size: 100%;
}

#center {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

#bookContainer {
  position: relative;
  max-width: 1150px;
  height: 350px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  margin-bottom: 30px;
}

.image {
  min-width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
  height: 250px;
  margin-right: 50px;
  justify-content: center;
}

.buttons {
  position: absolute;
  display: flex;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

.button {
  cursor: pointer;
  margin-right: 50px;
}

#section-container {
  display: flex;
  flex-direction: row; /* Met toutes les rangées en ligne */
  flex-wrap: wrap; /* Permet d'aller à la ligne si nécessaire */
  justify-content: center;
  align-items: center;
  gap: 50px; /* Espacement entre chaque rangée */
  width: 100%;
  margin-top: 50px;
}

.booksContainer {
  display: flex;
  flex-direction: row; /* Affichage en ligne */
  flex-wrap: nowrap; /* Les livres restent en ligne */
  justify-content: center;
  gap: 60px;
  width: auto;
}

.card img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  margin: 150px 30px;
  width: 276px;
  height: 364px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=style.css.map */