@import 'Base/reset';
@import 'Base/mixins';
@import 'Component/buttons';
@import 'Component/cards';
@import 'Component/forms';
@import 'layout/footer';
@import 'layout/grid';
@import 'layout/header';
@import 'Base/variables';
.header{
  font-family: "Lexend";
  display: flex;
  width: 100%;
  height: 167px;
  background: $degrade-footer;
  
}
.menu {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
figure {
  height: 100%;
  img {
    height : 80%;
  } 
}
.navbar {
  display: flex;
  margin: 0 auto;
  li {
    font-size: $titre-h3;
    

    a {
      text-decoration: none;
      padding: 0.5rem 1rem;
      color: $primary-text-800;
      &:hover {
        border-radius: 100px ;
        border: 3px solid $primary-text-800;
        color: $primary-text-800; // Couleur lors du survol
      }
      &:active {
        color: $primary-text-800; // Couleur lors du clic
        border-radius: 100px ;
        border: 3px solid $primary-text-300;
        background-color: $primary-text-300;
      }


    }
  }

}
.search-form {
  
}

header{
    width: 100%;
    height: 167px;
}



















































































//fin header---------------------------------------------------------------------------------------------------
body{
    width: 100%;
    height: 1500px;
    background: $degrade-fond-definitif;
    background-repeat: no-repeat;
  
}
//debut enfant-livre


































































































// fin enfant-livre ------------------------------------------------------------------------------------------------
.center{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    #bookContainer{
        position: relative;
        max-width: 1150px;
        margin-top: 300px;
        height: 350px;
        overflow: hidden;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
    }
        .images{
            display: flex;
            transition: transform 0.5s ease-in-out;
            margin-bottom: 30px;
    }
            .image{
                min-width: 250px;
                object-fit: cover;
                box-sizing: border-box;
                height: 250px;
                margin-right: 50px;
                justify-content: center;
            }
        .buttons{
            position: absolute;
            display: flex;
            left: 50%;
            transform: translateX(-50%);
            }
            .button{
                cursor: pointer;
                margin-right: 50px;
                
            }

