
.button_pink{
    width: 96px;
    height: 26px;
    background-color: $pastel-rose-200;
    border-radius: 20px;
    font-family: "Lexend", sans-serif;
    font-size: 14px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.button_borrow{
    width: 219px;
    height: 40px;
    background-color: $stroke-gris-200;
    font-family: "Lexend", sans-serif;
    font-size: $para;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}