.button_pink {
  width: 50%;
  text-decoration: none;
  color: $primary-text-900;
  background-color: $pastel-rose-200;
  border-radius: 20px;
  font-family: "Lexend", sans-serif;
  font-size: 14px;
  padding: 0.4rem 1rem;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.button_borrow {
  width: 78%;
  align-content: center;
  text-decoration: none;
  color: $primary-text-900;
  background-color: $stroke-gris-200;
  padding: 0.6rem 1rem;
  margin: 0 auto;
  font-family: "Lexend", sans-serif;
  font-size: $para;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
