

.card{
    width: 280px ;
    height: 380px ;
    text-align: center ;
    align-self: center ;
    font-size: $para ;
    font-family: "Lexend", sans-serif;
    display: flex;
    flex-direction: column ;
    justify-content: center ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
